{% extends "personal/header.html" %}

{% block content %}
<div style="background-color:lightblue" class="jumbotron">
	<div class="container">
		<h1>About Me</h1>
		<img align="right" style="padding-left: 10px; padding-right: 20px; padding-bottom: 20px" src="/static/personal/img/profile3.jpg" alt="AboutImage" height="250px" width="175px">
		<p style="font-size: 90%; font-weight: bolder;" class="paragraph"> My name is Kevin and I'm currently a freshman at the Illinois Institute of Technology studying computer engineering.<br><br>

		When I was in 8th grade, I was really interested in coding because I always wanted to know how everything on the internet works. I started coding on CodeAcademy and practiced simple HTML and Python.<br><br>

		My interest in coding grew and I kept on practicing in high school where I learned Java Object Oriented Programming in Computer Science AP. I also joined Computer Club where I continued coding in Python.<br><br>

		Once I graduated high school, I wanted to get much more involved with coding. I was accepted into the Google Computer Science Summer Institute. At the summer institute, I learned web app development. I learned how to use HTML, CSS, Javascript, Python, and Google AppEngine from Google Engineers. At the end of the program, I developed a web application that allows users to seek video game recommendations.<br><br>

		When I started my education at the Illinois Institute of Technology, I immediately started learning about Mechatronics and programming them in Interactive C. After many trials working with the robot, my team won a competition at my school that involved making the robot solve a maze in the fastest time possible.<br><br>

		After participating in the Google Computer Science Summer Institute, I decided to tackle a big project of my own. I created my own personal website using Django, Python, Javascript, HTML, CSS, Bootstrap, Jinja, etc. After much frustration and tons of compiling errors and many days of hard work, I completed my website. It is a huge accomplishment, and I'm proud I did it all on my own.<br><br>

		Now that I've completed this website, I hope to further my knowledge of coding even more and help develop great applications. 
		 </p>
	</div>
</div>
{% endblock %}